apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote-deployment
  namespace: vote
  labels:
    kubernetes.io/part-of: vote-app
    kubernetes.io/app: vote
    kubernetes.io/component: frontend
    kubernetes.io/manual: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      kubernetes.io/app: vote
      kubernetes.io/component: frontend
  template:
    metadata:
      labels:
        kubernetes.io/app: vote
        kubernetes.io/component: frontend
    spec:
      containers:
      - name: vote
      image: dockersamples/examplevotingapp_vote
      ports:
      - containerPort: 80
      resources:
        limits:
          memory: "128Mi"
          cpu: "500m"
        requests:
          memory: "64Mi"
          cpu: "250m"
